<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsultaMedica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConsultaMedica.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top p-2">
        <div class="container-fluid">
            <!-- Logo o nombre de la marca (izquierda) -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="../imagenes/logo.png" alt="imagen del logo" class="logo-custom me-2">
                <span class="brand-name">Junior Rodriguez castañeda</span> 
            </a>
            <!-- Botón para colapsar el menú en dispositivos móviles -->
            <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenedor para los botones (derecha) -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">

                    <!-- Botón de Agenda -->
                    <li class="nav-item me-3">
                        <a class="btn btn-light position-relative" asp-area="" asp-controller="Agenda" asp-action="Index">
                            <i class="ri-heart-pulse-line text-dark"></i>
                        </a>
                    </li>
                    <!-- Botón de home -->
                    <li class="nav-item me-3">
                        <a class="btn btn-light position-relative" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="ri-home-2-line text-dark"></i>
                        </a>
                    </li>
                    <!-- Botón de Notificaciones -->
                    <li class="nav-item me-3">
                        <button class="btn btn-light position-relative" onclick="mostrarNotificaciones()">
                            <i class="ri-notification-3-line text-dark"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                3
                                <span class="visually-hidden">Notificaciones no leídas</span>
                            </span>
                        </button>
                    </li>

                    <!-- Botón de Alertas -->
                    <li class="nav-item me-3">
                        <button class="btn btn-light position-relative" onclick="mostrarAlertas()">
                            <i class="ri-alarm-warning-line text-dark"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                1
                                <span class="visually-hidden">Alertas no leídas</span>
                            </span>
                        </button>
                    </li>

                    <li class="nav-item">
                        <!-- Botón para abrir el modal -->
                        <button class="btn btn-light position-relative" data-bs-toggle="modal"
                                data-bs-target="#userModal">
                            <i class="ri-user-line"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Modal del usuario -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <!-- Usamos modal-lg para más espacio -->
            <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Perfil de Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    <div class="row">
                        <!-- Columna izquierda: Imagen -->
                        <div class="col-md-6 d-flex align-items-center justify-content-center order-1">
                            <!-- order-1 para moverla a la izquierda -->
                            <div class="square-image-container">
                                <img src="imagenes/profile.webp" alt="Imagen de perfil" class="img-fluid square-image">
                            </div>
                        </div>

                        <!-- Columna derecha: Inputs -->
                        <div class="col-md-6 order-2">
                            <!-- order-2 para moverla a la derecha -->
                            <h2>Datos de usuario</h2>
                            <form>
                                <!-- Input 1 -->
                                <div class="mb-3">
                                    <label for="inputNombre" class="form-label">Nombre Completo</label>
                                    <input type="text" class="form-control" id="inputNombre" value="">
                                </div>

                                <!-- Input 2 -->
                                <div class="mb-3">
                                    <label for="inputEmail" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="inputEmail" value="">
                                </div>

                                <!-- Input 3 -->
                                <div class="mb-3">
                                    <label for="inputTelefono" class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control" id="inputTelefono" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Pie del modal -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                    <!-- Botón de Cerrar Sesión -->
                    <div class="d-grid">
                        <a class="btn btn-danger text-white">
                            Cerrar Sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_LoginPartial" />

    @RenderBody()
        

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
